.image {
    position: relative;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 0;
    transition: all 0.25s linear;
}

.span1 {
    color: #fff;
    opacity: 1;
    transition: all 0.25s linear;
}

.span2 {
    color: #fff;
    opacity: 0;
    transition: all 0.25s linear;
}

.image:hover .span1 {
    opacity: 0;
}

.image:hover .span2 {
    opacity: 1;
}

.image__img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: fill;
    opacity: 0.95;
    transition: all 0.25s;
}

.image:hover .image__img {
    opacity: 1;
    transform: scale(1.2);
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #14213d;
    font-family: 'Quicksand', sans-serif;
    opacity: 0.6;
    transition: all 0.25s;
}

.ac {
    font-weight: 700 !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff !important;
}

.image__a {
    position: relative;
    z-index: 100;
    margin-top: 300px;
    left: 15px;
}

.image {
    box-shadow: 0 -2px 5px 2px grey;
}

.underlineH61 {
    margin-top: 5px;
    min-width: 50px;
    min-height: 5px;
    background-color: #E8630A;
    border-radius: 16px;
}

.image:hover .image__title {
    font-weight: 800;
}

.image__title {
    font-size: 8px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.25s linear;
}

.roller {
    width: 100%;
    margin: 20px;
    margin-top: 0;
}

.rolling {
    width: 0px;
    background-color: #fff;
    height: 4px;
    transition: all 1.2s linear;
}

.image:hover+.roller .rolling {
    animation: trans 1s linear;
    width: calc(100% - 40px);


}

@keyframes trans {
    0% {
        width: 0px;

    }

    100% {
        width: calc(100% - 40px);

    }
}