@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



@media screen and (max-width:600px) {
    .carous{    
        display: none;
    }
}
.images{
    aspect-ratio: 5/2;
}
.carousel-indicators{
    position: absolute;
    bottom: -50px!important;
    justify-content: center!important;
    
}
.carousel-indicators [data-bs-target] {
    width: 11px!important;
    height: 10px!important;
    margin: 0px 5px!important;
    background-color: #fca311!important;
    border-radius: 50%;
}

.carousel-caption{
    bottom: -20px!important;
    width: 100%!important;
    background-color: #00b7ff44;
    color: white!important;
    font-size: larger!important;
    font-weight: bold;
    left: 0%!important;
    right: 0%!important;
    padding-top: 15px!important;
}




.welcomegrid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0aa1dd;;
    color: #F1eee9;
    text-align: center;
}
.h2w{
   color: #14213d;;
}
.hr1{
    background: none;
    border-top: 2px solid #ec994b;
    width: 25%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem ;
    opacity: 80%;
}
.hr2{
    background: none;
    border-top: 2px solid #ec994b;
    width: 6%;
    margin: auto;
    margin-bottom: 1rem;
    opacity: 90%;
}
.vision{
    padding: min(2rem,3vw);
    display: block;
    margin: 4rem auto;
    font-size: min(4vw,24px);
    max-width: min(90%,850px);
}
.welcome {       
    padding: min(2rem,3vw);
    display: block;
    margin: 3rem auto 0 auto;
    font-size: min(4vw,24px);
    max-width: min(90%,700px);
}

.container2{
    margin-top: 35px;
}

.spangrid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper1{
    margin: 3rem 5%;
}

p.unsdg{
    text-align: center;
    color: #E8630A;
    font-family: 'Koulen', cursive;
    font-size: min(4.8vw,36px);
    word-spacing: 1vw;
    margin: 0 5%;
}

.container3{
    display: block;
    margin: 30px auto 55px auto!important;
    width: min(1000px,76%)!important;
}

img.undesa{
    margin: 40px 0;
    max-width: min(60%,450px);
}

@media screen and (min-width:960px) {
    .xsgapssdg{
        display: none;
    }
}

img.goals{
    width: 80%;
    margin: 10%;
    border-radius: 1.5vw;
    box-shadow:1.5px 1.5px 2px 1.5px grey;
    transition: transform 150ms ease-in-out;
}
img.goals:hover{
    box-shadow: 4px 7px 11px 4px grey;
    transform: scale(1.1);
}


.container4{
    color: #14213d;
    background-color: #0aa1dd;
    padding: 30px 0 50px 0;
}



.h3impact{   
    margin: 40px 0 ;
    text-align: center;    
}
span.h3{
    color: orange;
    font-size: 5rem;
    font-family: 'Koulen', cursive;

}




.donatediv{
    background-color: #fca311;
    margin: 0px;
    display: grid;
    overflow: hidden;
}

.donatep{
    color: #003d73;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    font-size: min(5vw,36px);
    font-weight: bolder;
    max-width: min(90%,700px);
    position: absolute;
    right: 7%;
    margin-top: 3em;
    border: 2px solid white;
    border-radius: 15px;
    padding: 0.8rem;
}

.donatebckg{
    grid-column: 1;
    grid-row: 1;
    max-width: 100vw;
}

.MuiButton-contained {
    background-color: red !important;
    padding: 10px 20px !important;
    margin:  20px 0 !important;
    border-radius:10px !important ;
    font-size: 16px !important;
    transition: transform 150ms ease-in-out !important;
}

.MuiButton-contained:hover{
    transform: scale(1.1);
}