.Div{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(11, 0, 96);
    color:#fca311;
    transition: all linear 0.25s;
}
.Div:hover{
    transform: scale(1.1);
}