.title {
  position: absolute;
  color: rgb(243, 239, 239);
  font-size: 50px;
  top: 35%;
  left: calc(50vw - 100px);
  margin: 0;
}

.outermost_div {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  background: linear-gradient(to bottom, #fca311 75%, #14213d 25%);
}

.title #name {
  font-family: "Cinzel";
  border-bottom: 2px solid white;
}

.outer____div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
}

#caption {
  font-family: "Estonia", serif;
  font-size: 30px;
}

.outer-div {
  height: calc(100vh - 50px);
  width: 100vw
}

.slider-pick {
  position: relative;
  border: 1px solid black;
  border-bottom: 4px solid #14213d;
  border-radius: 16px;
  padding: 15px;
  background-color: #fff;
  text-align: center;
  transition: box-shadow linear 0.25s;
}

.what_div {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

#text_appearing:hover {
  opacity: 0;
  transition: opacity 0.5s;
}

#text_apearing {
  opacity: 1;
}

.text__overlay {
  color: #14213d;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(256, 256, 256, 1);
  border-radius: 16px;
  transition: opacity 0.5s;
  opacity: 0;

}

/* 
.text__overlay {Fim
  transform: translateY(-30px);
  transition: transform 0.75s;
}
 .slider-pick:hover{
  box-shadow: 0px 0px 2.5px 5px grey;
} 
.text__overlay:hover {
  transform: translateY(0);
} */

.text__overlay:hover {

  opacity: 1;
}

.header_div {
  width: 100%;

  text-align: center;
}

.outer__div {
  display: flex;
  padding: 0 !important;
}

.img__div {
  position: relative;
  width: 100%;
  height: 100% !important;
  padding: 0px !important;
  overflow: hidden;
}

.img__conatainer {
  width: 100% !important;
  ;
  height: 100% !important;
  object-fit: fill !important;
  transition: 0.5s all ease-in-out;
}

.img__conatainer:hover {
  transform: scale(1.2);
}

.img__div, .div_stepper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.upperDiv {
  position: absolute;
  z-index: 100;
  bottom: 0;
  color: white;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1vw;
  background: #14213d;
  transition: all 0.5s linear;
  opacity: 0;
}

.img__div:hover>.upperDiv {
  opacity: 1 !important;
}